AuthName "DOF Charts Backend"
AuthType Basic
AuthBasicProvider file
AuthUserFile ../htdocs/dof-sample/backend/.htgoaway
Require valid-user

DirectoryIndex .index.php

<Files ~ "^\.ht">
Order allow,deny
Deny from all
</Files>